body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}



nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.destaque {
    text-align: center;
    padding: 50px 0;
    background-color: #f0f0f0;
}

.destaque h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.botao {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cursos-populares {
    margin-top: 30px;
}

.cursos-populares h2 {
    text-align: center;
    margin-bottom: 20px;
}

.curso {
    display: inline-block;
    width: 300px;
    margin: 20px;
    text-align: center;
}

.curso img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}